CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
Makefile
cmake-build-debug/
cmake-build-release/
.cmake/
build/
*.exe
*.out
*.app
*.lai
*.la
*.a
*.lib
*.so
*.libs
*.dll
*.dylib
*.gch
*.pch
*.slo
*.lo
*.o
*.obj
*.d